

/* ////////from old stuff - reuse or delete////// */

/* .entry {
    height: 25px;
    margin-left: 30px;
}
.fields-container{
    display: flex;
    flex-wrap: space-evenly;
    padding: 5px;
    white-space: nowrap;
    font-size: 13px;
    width: 100%;
    height: 20px;
    margin: 0 7px;
    padding: 0;
    vertical-align: center;
}
.fields{
    display: flex;
    flex-wrap: space-evenly;
    margin: 0 2px;
    width: 100px;
    min-width: 100px;
    text-transform: capitalize; 
    color: blue;
    vertical-align: center;
}
.fields:nth-child(2){
    width: 100px;
    min-width: 100px;
    text-transform: none;
}
.fields:nth-child(6){
    width: 100px;
    min-width: 100px;
   padding:0 10px;
} 
.fields:nth-child(7){
    padding: 0 0 0 -25px;
}
.fields:nth-child(5){
    width: 105px;
    min-width: 105px;
}
.summary{
    background-color: rgb(145, 141, 141);
    width: 100px;
    height: 30px;
}
.fields:last-child{
    width: 100px;
    min-width: 100px;
}
.summary:last-child{
    width: 10px;
} */