* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}
/* date entry options - https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */
::-webkit-inner-spin-button{
    display: none;
}