* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
  }
  .donate-with-crypto{
    color: green;
    border: solid red 2px;
    margin: 15px;
    padding: 15px;
  }
  .donate-button-div{
    margin: 50px;
  
  }
  .buy-with-crypto{
    color: blue;
    border: solid rgb(0, 225, 255) 2px;
    margin: 50px;
    padding: 50px;
  }
  .buy-button-div{
    margin: 200px;
  }
