.footer {
    background-image: url("../../img/stock2.png");
    box-shadow: inset 0 0 0 1000px rgba(1, 1, 1, 0.4);
    color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140px; 
    /* position:absolute; */
    bottom:0;
    width: 100%;
}
.feet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* vertical-align: center; */
    margin: 10px 0 0 0;
}
.button-container{
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-buttons{
    justify-content: center;
    height: 60px;
    width: 260px;
    background-color: white;
    color: blue;
    white-space: nowrap;
    font-size: 26px;
    border-radius: 5px;
    padding: 10px;
    margin: -20px 10px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    /* margin: -15px 5px 10px 5px; */
} 
.visit{
    display: flex;
    flex-wrap: wrap;
    /* margin: -15px 5px -20px 5px; */
}               
.legal{
    display: flex;
    flex: space-between;
    justify-content: center;
}

/* @media only screen and (max-width: 675px) and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .footer {
        height: 900px;
    }
} */
@media (max-width: 600px) {
    .footer-buttons{
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
        height: 60px;
        width: 260px;
        background-color: white;
        color: blue;
        white-space: nowrap;
        font-size: 26px;
        border-radius: 5px;
        padding: 10px;
        /* margin: -15px 10px -15px 0; */
    }
    .contact{
        margin: -15px 5px -15px 0;
    }
    .visit{
        margin: -15px 5px -15px 0;
    }
}

@media (max-width: 570px) {
    .footer{
        height: 200px;
    }
    .footer-buttons{
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
        height: 60px;
        width: 260px;
        background-color: white;
        color: blue;
        white-space: nowrap;
        font-size: 26px;
        border-radius: 5px;
        padding: 10px;
        /* margin: -15px 10px -15px 0; */
    }
    .contact{
        margin: -20px 3px 3px 10px;
    }
    .visit{
        margin: 3px 3px -23px 10px;
    }
}
