.investments-table{
  display: flex;
  justify-content: center;
  padding-left: -20px;
}
.headers-container {
  overflow-x: scroll;
  border: 3px solid blue;
  margin: 30px;
  padding: 20px 0px 0 -10px;
  border-radius: 5px;
  max-width: 1500px;
}
.sell-targets {
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
  font-size: 20px;
  margin-left: 1140px;
  margin-right: -20px;
  margin-top: 5px;
  white-space: nowrap; 
}
.headers-container:nth-child(2) {
  border: 3px solid black;
  margin: 3px;
}
/* .entries-container div:nth-child(even){
    background-color: rgb(209, 206, 206);
    width: 130vw;
} */
.heading {
  display: flex;
  flex-wrap: space-evenly;
  margin: 0 0 5px 20px;
  padding: 5px;
  white-space: nowrap;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-color: blue;
  /* overflow-x: scroll; */
}
.heads {
  display: flex;
  flex-wrap: space-evenly;
  /* border: 2px solid blue; */
  margin: 2px;
  padding: 3px;
  text-transform: capitalize;
  color: blue;
  /* border-radius: 5px; */
}
.date {
  width: 60px;
  min-width: 60px;
  margin: 0 0 0 118px;
}
.name {
  width: 80px;
  min-width: 80px;
}
.symbol {
  width: 55px;
  min-width:55px;
  text-transform: capitalize;
}
.amt-pur{
  width: 125px;
  min-width: 125px;
}
.pur-pri {
  width: 100px;
  min-width: 100px;
}
.heads:nth-child(6) {
  width: 100px;
  min-width: 100px;
}
.heads:nth-child(7) {
  width: 96px;
  min-width: 96px;
  font-weight: bold;
}
.summary1 {
  background-color: rgb(185, 180, 180);
}
.cur-pri {
  width: 90px;
  min-width: 90px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
.heads:nth-child(9) {
  width: 90px;
  min-width: 90px;
}
