* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    /* text-transform: capitalize;     */
    /* text-decoration: none; */
    font-family: sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
    box-shadow: aqua;
    color: red; 
}
.div1:nth-child(2){
    border: 3px solid black;
    margin: 3px;
}
.div2:nth-child(1){
    border: 3px solid green;
    margin: 3px;
} 