.investment-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(163, 158, 158);
    color: blue;
    margin: 25px;
    padding: 10px;
    font-size: 12px;
    width: 1050px;  
}
button{
    color: white;
    background-color: blue;
    width: 80px;
    height: 35px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    align-content: center;
    align-items: center; 
}
input{
    border: 2px solid blue;
    height: 30px;
    width: 160px;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 3px;
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.932);
}
.entry1{
    align-items: center;
    background-color: rgb(163, 158, 158);
    color: blue;
    margin: 0 15px 0 0;
    font-size: 24px;
    font-weight: bold;

}