.entry {
    /* height: 20px; */
    margin-left: 30px;
    width: auto;

}
.entry:nth-child(even){
    background-color: rgb(209, 206, 206);
    width: 1350px;
}
button{
    font-size: 14px;
    height: 28px;
    width: 80px;
}
.delete-button-container{
    width: 110px;
    min-width: 110px;
}
.delete-button{
    width: 70px;
    min-width: 70px;
    background-color: red;
    border-radius: 5px;
}
.fields-container{
    display: flex;
    flex-wrap: space-evenly;
    padding: 5px;
    white-space: nowrap;
    font-size: 14px;
    /* width: 100%; */
    /* height: 20px; */
    margin: 0 7px;
    padding: 0;
    vertical-align: center;
}
.fields{
    display: flex;
    flex-wrap: space-evenly;
    margin: 0 2px 0 -8px;
    text-transform: capitalize; 
    color: blue;
    vertical-align: center;
    /* margin: 10px 2px -55px 2px; */
    /* padding: 3px; */
}
.user:nth-child(1){
    width: 70px;
    min-width: 70px;
}
.user:nth-child(2){
    width: 70px;
    min-width: 70px;
}
.user:nth-child(3){
    width: 80px;
    min-width: 80px;
    text-transform: capitalize;
}
.fields:nth-child(4){
    width: 100px;
    min-width: 100px;
}
.fields:nth-child(5){
    width: 80px;
    min-width: 80px;
}
.fields:nth-child(6){
    width: 130px;
    min-width: 130px;
}
.fields:nth-child(7){
    width: 98px;
    min-width: 98px;
}
.summary{
    background-color: rgb(145, 141, 141);
}
.summary:nth-child(1){
    width: 103px;
    min-width: 103px;
}
.summary:nth-child(2){
    width: 100px;
    min-width: 100px;
}
.summary:nth-child(3){
    width: 103px;
    min-width: 103px;
}
.summary:nth-child(4){
    width: 105px;
    min-width: 105px;
}
.summary:nth-child(5){
    width: 85px;
    min-width: 85px;
}
.target1{
    width: 88px;
    min-width: 88px;
    margin-left: 3px;
}
.target2{
    width: 80px;
    min-width: 80px;
    /* margin-left: 3px; */
}
.target3{
    width: 90px;
    min-width: 90px;
    /* margin-left: 3px; */
}

